# Machine Learning with Python - Exercise 1.2 : Checking and Scaling Dataframes

### The following script contains:

### 1. Importing Libraries, Paths, and Data
### 2. Perform checks on data
### 3. Scale Dataframe
### 4. Export scaled data as new CSV file

#### -

## 1. Importing Libraries, Path and Data

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import os
import sklearn
from sklearn.preprocessing import StandardScaler

In [2]:
#Create Path
path = r'/Users/puneet/Desktop/CareerFoundry/Machine Learning with Python'

In [3]:
#Import Climate CHange Data Set CSV file
df = pd.read_csv(os.path.join(path, 'Data Sets' , 'Dataset-weather-prediction-dataset-processed.csv'))

#### -

## 2. Perform data checks

In [4]:
#Check data
df.head()

,DATE,MONTH,BASEL_cloud_cover,BASEL_wind_speed,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_snow_depth,BASEL_sunshine,...,VALENTIA_cloud_cover,VALENTIA_humidity,VALENTIA_pressure,VALENTIA_global_radiation,VALENTIA_precipitation,VALENTIA_snow_depth,VALENTIA_sunshine,VALENTIA_temp_mean,VALENTIA_temp_min,VALENTIA_temp_max
0,19600101,1,7,2.1,0.85,1.018,0.32,0.09,0,0.7,...,5,0.88,1.0003,0.45,0.34,0,4.7,8.5,6.0,10.9
1,19600102,1,6,2.1,0.84,1.018,0.36,1.05,0,1.1,...,7,0.91,1.0007,0.25,0.84,0,0.7,8.9,5.6,12.1
2,19600103,1,8,2.1,0.90,1.018,0.18,0.30,0,0.0,...,7,0.91,1.0096,0.17,0.08,0,0.1,10.5,8.1,12.9
3,19600104,1,3,2.1,0.92,1.018,0.58,0.00,0,4.1,...,7,0.86,1.0184,0.13,0.98,0,0.0,7.4,7.3,10.6
4,19600105,1,6,2.1,0.95,1.018,0.65,0.14,0,5.4,...,3,0.80,1.0328,0.46,0.00,0,5.7,5.7,3.0,8.4

In [5]:
#Create ID column
df.reset_index(inplace=True)
df.rename(columns={'index':'id'}, inplace=True)
df.head()

,id,DATE,MONTH,BASEL_cloud_cover,BASEL_wind_speed,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_snow_depth,...,VALENTIA_cloud_cover,VALENTIA_humidity,VALENTIA_pressure,VALENTIA_global_radiation,VALENTIA_precipitation,VALENTIA_snow_depth,VALENTIA_sunshine,VALENTIA_temp_mean,VALENTIA_temp_min,VALENTIA_temp_max
0,0,19600101,1,7,2.1,0.85,1.018,0.32,0.09,0,...,5,0.88,1.0003,0.45,0.34,0,4.7,8.5,6.0,10.9
1,1,19600102,1,6,2.1,0.84,1.018,0.36,1.05,0,...,7,0.91,1.0007,0.25,0.84,0,0.7,8.9,5.6,12.1
2,2,19600103,1,8,2.1,0.90,1.018,0.18,0.30,0,...,7,0.91,1.0096,0.17,0.08,0,0.1,10.5,8.1,12.9
3,3,19600104,1,3,2.1,0.92,1.018,0.58,0.00,0,...,7,0.86,1.0184,0.13,0.98,0,0.0,7.4,7.3,10.6
4,4,19600105,1,6,2.1,0.95,1.018,0.65,0.14,0,...,3,0.80,1.0328,0.46,0.00,0,5.7,5.7,3.0,8.4

In [6]:
#Check data types
df.dtypes

id                       int64
DATE                     int64
MONTH                    int64
BASEL_cloud_cover        int64
BASEL_wind_speed       float64
                        ...
VALENTIA_snow_depth      int64
VALENTIA_sunshine      float64
VALENTIA_temp_mean     float64
VALENTIA_temp_min      float64
VALENTIA_temp_max      float64
Length: 171, dtype: object

In [7]:
#Create subset to check for duplicates
df_dups = df[df.duplicated()]

#Check duplicate dataset
df_dups.head()

Empty DataFrame
Columns: [id, DATE, MONTH, BASEL_cloud_cover, BASEL_wind_speed, BASEL_humidity, BASEL_pressure, BASEL_global_radiation, BASEL_precipitation, BASEL_snow_depth, BASEL_sunshine, BASEL_temp_mean, BASEL_temp_min, BASEL_temp_max, BELGRADE_cloud_cover, BELGRADE_humidity, BELGRADE_pressure, BELGRADE_global_radiation, BELGRADE_precipitation, BELGRADE_sunshine, BELGRADE_temp_mean, BELGRADE_temp_min, BELGRADE_temp_max, BUDAPEST_cloud_cover, BUDAPEST_humidity, BUDAPEST_pressure, BUDAPEST_global_radiation, BUDAPEST_precipitation, BUDAPEST_sunshine, BUDAPEST_temp_mean, BUDAPEST_temp_min, BUDAPEST_temp_max, DEBILT_cloud_cover, DEBILT_wind_speed, DEBILT_humidity, DEBILT_pressure, DEBILT_global_radiation, DEBILT_precipitation, DEBILT_sunshine, DEBILT_temp_mean, DEBILT_temp_min, DEBILT_temp_max, DUSSELDORF_cloud_cover, DUSSELDORF_wind_speed, DUSSELDORF_humidity, DUSSELDORF_pressure, DUSSELDORF_global_radiation, DUSSELDORF_precipitation, DUSSELDORF_snow_depth, DUSSELDORF_sunshine, DUSSELDORF_temp_mean, DUSSELDORF_temp_min, DUSSELDORF_temp_max, GDANSK_cloud_cover, GDANSK_humidity, GDANSK_precipitation, GDANSK_snow_depth, GDANSK_temp_mean, GDANSK_temp_min, GDANSK_temp_max, HEATHROW_cloud_cover, HEATHROW_humidity, HEATHROW_pressure, HEATHROW_global_radiation, HEATHROW_precipitation, HEATHROW_snow_depth, HEATHROW_sunshine, HEATHROW_temp_mean, HEATHROW_temp_min, HEATHROW_temp_max, KASSEL_wind_speed, KASSEL_humidity, KASSEL_pressure, KASSEL_global_radiation, KASSEL_precipitation, KASSEL_sunshine, KASSEL_temp_mean, KASSEL_temp_min, KASSEL_temp_max, LJUBLJANA_cloud_cover, LJUBLJANA_wind_speed, LJUBLJANA_humidity, LJUBLJANA_pressure, LJUBLJANA_global_radiation, LJUBLJANA_precipitation, LJUBLJANA_sunshine, LJUBLJANA_temp_mean, LJUBLJANA_temp_min, LJUBLJANA_temp_max, MAASTRICHT_cloud_cover, MAASTRICHT_wind_speed, MAASTRICHT_humidity, MAASTRICHT_pressure, MAASTRICHT_global_radiation, MAASTRICHT_precipitation, MAASTRICHT_sunshine, MAASTRICHT_temp_mean, MAASTRICHT_temp_min, MAASTRICHT_temp_max, MADRID_cloud_cover, ...]
Index: []

[0 rows x 171 columns]

#### - No duplicates

In [9]:
#Check for null values
df.isnull().sum()

id                     0
DATE                   0
MONTH                  0
BASEL_cloud_cover      0
BASEL_wind_speed       0
                      ..
VALENTIA_snow_depth    0
VALENTIA_sunshine      0
VALENTIA_temp_mean     0
VALENTIA_temp_min      0
VALENTIA_temp_max      0
Length: 171, dtype: int64

In [10]:
#Remove any nulls
df.dropna(inplace=True)

In [11]:
#Check shape
df.shape

(22950, 171)

#### - No missing values

In [12]:
#Check info
df.info

<bound method DataFrame.info of           id      DATE  MONTH  BASEL_cloud_cover  BASEL_wind_speed  \
0          0  19600101      1                  7               2.1
1          1  19600102      1                  6               2.1
2          2  19600103      1                  8               2.1
3          3  19600104      1                  3               2.1
4          4  19600105      1                  6               2.1
...      ...       ...    ...                ...               ...
22945  22945  20221027     10                  1               2.1
22946  22946  20221028     10                  6               2.1
22947  22947  20221029     10                  4               2.1
22948  22948  20221030     10                  5               2.1
22949  22949  20221031     10                  5               2.1

       BASEL_humidity  BASEL_pressure  BASEL_global_radiation  \
0                0.85          1.0180                    0.32
1                0.84          1.0180                    0.36
2                0.90          1.0180                    0.18
3                0.92          1.0180                    0.58
4                0.95          1.0180                    0.65
...               ...             ...                     ...
22945            0.79          1.0248                    1.34
22946            0.77          1.0244                    1.34
22947            0.76          1.0227                    1.34
22948            0.80          1.0212                    1.34
22949            0.84          1.0193                    1.34

       BASEL_precipitation  BASEL_snow_depth  ...  VALENTIA_cloud_cover  \
0                     0.09                 0  ...                     5
1                     1.05                 0  ...                     7
2                     0.30                 0  ...                     7
3                     0.00                 0  ...                     7
4                     0.14                 0  ...                     3
...                    ...               ...  ...                   ...
22945                 0.22                 0  ...                     5
22946                 0.22                 0  ...                     5
22947                 0.22                 0  ...                     5
22948                 0.22                 0  ...                     5
22949                 0.22                 0  ...                     5

       VALENTIA_humidity  VALENTIA_pressure  VALENTIA_global_radiation  \
0                   0.88             1.0003                       0.45
1                   0.91             1.0007                       0.25
2                   0.91             1.0096                       0.17
3                   0.86             1.0184                       0.13
4                   0.80             1.0328                       0.46
...                  ...                ...                        ...
22945               0.82             1.0142                       1.13
22946               0.82             1.0142                       1.13
22947               0.82             1.0142                       1.13
22948               0.82             1.0142                       1.13
22949               0.82             1.0142                       1.13

       VALENTIA_precipitation  VALENTIA_snow_depth  VALENTIA_sunshine  \
0                        0.34                    0                4.7
1                        0.84                    0                0.7
2                        0.08                    0                0.1
3                        0.98                    0                0.0
4                        0.00                    0                5.7
...                       ...                  ...                ...
22945                    0.41                    0                3.4
22946                    0.41                    0                3.4
22947                    0.41                    0                3.4
22948                    0.41                    0                3.4
22949                    0.41                    0                3.4

       VALENTIA_temp_mean  VALENTIA_temp_min  VALENTIA_temp_max
0                     8.5                6.0               10.9
1                     8.9                5.6               12.1
2                    10.5                8.1               12.9
3                     7.4                7.3               10.6
4                     5.7                3.0                8.4
...                   ...                ...                ...
22945                10.7                7.9               13.5
22946                10.7                7.9               13.5
22947                10.7                7.9               13.5
22948                10.7                7.9               13.5
22949                10.7                7.9               13.5

[22950 rows x 171 columns]>

#### -

## 3. Scale Dataframe

In [13]:
#create scaler object using StandardScaler from sklearn.preprocessing
#StandardScaler assumes data is normally distributed and scales with a distribution
#around 0 and standard deviation of 1. Scaling happens independently with each variable.
scaler = StandardScaler()

In [19]:
#Create new dataframe with scaled data
df_scaled = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

#Check new scaled dataframe
df_scaled.head()

,id,DATE,MONTH,BASEL_cloud_cover,BASEL_wind_speed,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_snow_depth,...,VALENTIA_cloud_cover,VALENTIA_humidity,VALENTIA_pressure,VALENTIA_global_radiation,VALENTIA_precipitation,VALENTIA_snow_depth,VALENTIA_sunshine,VALENTIA_temp_mean,VALENTIA_temp_min,VALENTIA_temp_max
0,-1.731975,-1.707663,-1.599964,0.660514,-0.02793,0.826097,-0.001949,-1.101066,-0.265148,-0.179228,...,-0.443701,0.761754,-1.299744,-0.806427,-0.088407,-0.024706,0.372147,-0.668215,-0.519743,-0.752237
1,-1.731824,-1.707657,-1.599964,0.244897,-0.02793,0.735760,-0.001949,-1.058108,1.658760,-0.179228,...,0.783085,1.183580,-1.262455,-1.042055,0.503361,-0.024706,-0.829285,-0.548046,-0.629054,-0.407141
2,-1.731673,-1.707652,-1.599964,1.076130,-0.02793,1.277781,-0.001949,-1.251420,0.155707,-0.179228,...,0.783085,1.183580,-0.432779,-1.136306,-0.396127,-0.024706,-1.009500,-0.067372,0.054135,-0.177078
3,-1.731523,-1.707646,-1.599964,-1.001953,-0.02793,1.458455,-0.001949,-0.821838,-0.445514,-0.179228,...,0.783085,0.480538,0.387574,-1.183432,0.669056,-0.024706,-1.039536,-0.998679,-0.164486,-0.838511
4,-1.731372,-1.707641,-1.599964,0.244897,-0.02793,1.729466,-0.001949,-0.746661,-0.164944,-0.179228,...,-1.670486,-0.363113,1.729970,-0.794645,-0.490810,-0.024706,0.672505,-1.509396,-1.339569,-1.471186

In [20]:
#Compare origional data vs scaled
df.head()

,id,DATE,MONTH,BASEL_cloud_cover,BASEL_wind_speed,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_snow_depth,...,VALENTIA_cloud_cover,VALENTIA_humidity,VALENTIA_pressure,VALENTIA_global_radiation,VALENTIA_precipitation,VALENTIA_snow_depth,VALENTIA_sunshine,VALENTIA_temp_mean,VALENTIA_temp_min,VALENTIA_temp_max
0,0,19600101,1,7,2.1,0.85,1.018,0.32,0.09,0,...,5,0.88,1.0003,0.45,0.34,0,4.7,8.5,6.0,10.9
1,1,19600102,1,6,2.1,0.84,1.018,0.36,1.05,0,...,7,0.91,1.0007,0.25,0.84,0,0.7,8.9,5.6,12.1
2,2,19600103,1,8,2.1,0.90,1.018,0.18,0.30,0,...,7,0.91,1.0096,0.17,0.08,0,0.1,10.5,8.1,12.9
3,3,19600104,1,3,2.1,0.92,1.018,0.58,0.00,0,...,7,0.86,1.0184,0.13,0.98,0,0.0,7.4,7.3,10.6
4,4,19600105,1,6,2.1,0.95,1.018,0.65,0.14,0,...,3,0.80,1.0328,0.46,0.00,0,5.7,5.7,3.0,8.4

#### -

## 4. Export Scaled Data

In [21]:
#Export scaled data as PKL file
df_scaled.to_pickle(os.path.join(path, 'Data Sets', 'weather_dataset_scaled.pkl'))

In [23]:
#Export sacled data as CSV file
df_scaled.to_csv(os.path.join(path, 'Data Sets', 'weather_dataset_scaled.csv'))